# Created by .ignore support plugin (hsz.mobi)

.idea/*
paketler/bagimlilik-yonetimi/node_modules/*
paketler/package.json-dosyasi/node_modules/*
paketler/package.json-dosyasi/app2/node_modules/*
paketler/paket-kaldirma/node_modules/*
paketler/node_modules/*
express/merhaba-express/node_modules/*
express/pug/node_modules/*
express/static/node_modules/*