html
    head
        title Merhaba Pug
    body
        // Açıklama
        =job
        br
        span(style="color: white; background-color: red;") Merhaba #{ name } #{ surName }
        br
        include other
        br
        include footer