html
    head
        title Merhaba Pug
    body
        // Açıklama
        - var uni = 'Fatih Sultan Mehmet Vakıf Üniversitesi';
        - var city = 'İstanbul';

        =uni
        br
        | Bulunduğu Şehir: #{ city.toUpperCase() }
        hr

        - var number = 12;

        if !number
            | Sayı değişkeni bulunamadı.
        else if number === 12
            | Sayı 12
        else
            | Sayı 12 değil
        hr

        =job
        br
        span(style="color: white; background-color: red;") Merhaba #{ name } #{ surName }
        br
        include other
        br
        include footer

        hr

        ul
            each val, index in ['zero', 'one', 'two']
                li= index + ': ' + val